body {
  padding: 20px 50px;
}

section#commands-list{
    padding:    10px;
    margin-top: 20px;
}

.big-text{ font-size: 16px;}

li{
    list-style-type: square;
    padding-bottom: 3px;
}

li strong {
    color:  #555;
    font-size: 12px;
    font-family: Monaco, "Lucida Console",monospace;
}
li i{
    color: #999;
    font-size: 12px;
}

